<!DOCTYPE html>
<html>
  <head>
    <title>ohdoc!</title>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= stylesheet_pack_tag 'bootstrap' %>
    
  </head>

  <body>     
    <%= yield %>

    <%= javascript_pack_tag 'index' %>
  </body>
</html>
